/**
 * Particular styles
 */
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-family: sans-serif; }
body { margin: 0; }
a { background: transparent; }
a:active, a:hover { outline: 0; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
img { border: 0; }
input, button, textarea, select { -webkit-appearance: none; -moz-appearance: none; }